<link rel="stylesheet" type="text/css" href="/style.css" media="screen">
<table><thead>
<tr>
<th>Rank</th>
<th>Team</th>
<th>[W, L, D]</th>
<th>Total Goals</th>
<th>Goal Differential</th>
</tr>
</thead><tbody>
<tr>
<td>1</td>
<td>Ancestors</td>
<td>[5, 0, 0]</td>
<td>15</td>
<td>8</td>
</tr>
<tr>
<td>2</td>
<td>Sun, The</td>
<td>[4, 1, 0]</td>
<td>9</td>
<td>3</td>
</tr>
<tr>
<td>3</td>
<td>(Death)</td>
<td>[3, 1, 1]</td>
<td>15</td>
<td>4</td>
</tr>
<tr>
<td>4</td>
<td>(Accountability)</td>
<td>[3, 1, 1]</td>
<td>14</td>
<td>7</td>
</tr>
<tr>
<td>5</td>
<td>(Moon, The)</td>
<td>[3, 1, 1]</td>
<td>13</td>
<td>3</td>
</tr>
<tr>
<td>6</td>
<td>(Uprising)</td>
<td>[3, 1, 1]</td>
<td>13</td>
<td>1</td>
</tr>
<tr>
<td>7</td>
<td>(Portal, The)</td>
<td>[3, 1, 1]</td>
<td>11</td>
<td>2</td>
</tr>
<tr>
<td>8</td>
<td>(Chaos)</td>
<td>[3, 2, 0]</td>
<td>20</td>
<td>8</td>
</tr>
<tr>
<td>9</td>
<td>(Caravan, The)</td>
<td>[3, 2, 0]</td>
<td>16</td>
<td>8</td>
</tr>
<tr>
<td>10</td>
<td>(Love)</td>
<td>[3, 2, 0]</td>
<td>10</td>
<td>-2</td>
</tr>
<tr>
<td>11</td>
<td>(Shadow, The)</td>
<td>[2, 2, 1]</td>
<td>13</td>
<td>2</td>
</tr>
<tr>
<td>12</td>
<td>(Establishment, The)</td>
<td>[2, 2, 1]</td>
<td>11</td>
<td>4</td>
</tr>
<tr>
<td>13</td>
<td>(Chrysalis, The)</td>
<td>[2, 2, 1]</td>
<td>10</td>
<td>0</td>
</tr>
<tr>
<td>14</td>
<td>(Mutant, The)</td>
<td>[2, 2, 1]</td>
<td>9</td>
<td>1</td>
</tr>
<tr>
<td>15</td>
<td>(World, The)</td>
<td>[2, 3, 0]</td>
<td>14</td>
<td>1</td>
</tr>
<tr>
<td>16</td>
<td>(Dream)</td>
<td>[2, 3, 0]</td>
<td>10</td>
<td>-3</td>
</tr>
<tr>
<td>17</td>
<td>(Fool, The)</td>
<td>[2, 3, 0]</td>
<td>9</td>
<td>-7</td>
</tr>
<tr>
<td>18</td>
<td>(Whore, The)</td>
<td>[1, 3, 1]</td>
<td>11</td>
<td>-5</td>
</tr>
<tr>
<td>19</td>
<td>(Courage)</td>
<td>[1, 3, 1]</td>
<td>8</td>
<td>-1</td>
</tr>
<tr>
<td>20</td>
<td>(Ace of Vessels)</td>
<td>[1, 3, 1]</td>
<td>8</td>
<td>-3</td>
</tr>
<tr>
<td>21</td>
<td>(Artist, The)</td>
<td>[1, 3, 1]</td>
<td>7</td>
<td>-4</td>
</tr>
<tr>
<td>22</td>
<td>(Star, The)</td>
<td>[1, 4, 0]</td>
<td>4</td>
<td>-11</td>
</tr>
<tr>
<td>23</td>
<td>(Doula, The)</td>
<td>[0, 3, 2]</td>
<td>4</td>
<td>-4</td>
</tr>
<tr>
<td>24</td>
<td>(Hermit, The)</td>
<td>[0, 4, 1]</td>
<td>3</td>
<td>-12</td>
</tr>
</tbody></table>
