<link rel="stylesheet" type="text/css" href="/style.css" media="screen">
<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r1g1 court A</td>
<td>09:00</td>
<td>Fool, The</td>
<td>3</td>
<td>Establishment, The</td>
<td>2</td>
</tr>
<tr>
<td>r1g2 court A</td>
<td>09:15</td>
<td>Uprising</td>
<td>1</td>
<td>Ancestors</td>
<td>3</td>
</tr>
<tr>
<td>r1g3 court A</td>
<td>09:30</td>
<td>Star, The</td>
<td>1</td>
<td>Caravan, The</td>
<td>6</td>
</tr>
<tr>
<td>r1g4 court A</td>
<td>09:45</td>
<td>Portal, The</td>
<td>1</td>
<td>Chrysalis, The</td>
<td>1</td>
</tr>
<tr>
<td>r1g5 court A</td>
<td>10:00</td>
<td>Moon, The</td>
<td>2</td>
<td>Death</td>
<td>1</td>
</tr>
<tr>
<td>r1g6 court A</td>
<td>10:35</td>
<td>Hermit, The</td>
<td>1</td>
<td>Dream</td>
<td>4</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r1g1 court B</td>
<td>09:00</td>
<td>Whore, The</td>
<td>2</td>
<td>Ace of Vessels</td>
<td>2</td>
</tr>
<tr>
<td>r1g2 court B</td>
<td>09:15</td>
<td>Sun, The</td>
<td>2</td>
<td>Artist, The</td>
<td>0</td>
</tr>
<tr>
<td>r1g3 court B</td>
<td>09:30</td>
<td>Shadow, The</td>
<td>5</td>
<td>Chaos</td>
<td>2</td>
</tr>
<tr>
<td>r1g4 court B</td>
<td>09:45</td>
<td>Mutant, The</td>
<td>2</td>
<td>Courage</td>
<td>4</td>
</tr>
<tr>
<td>r1g5 court B</td>
<td>10:00</td>
<td>Love</td>
<td>2</td>
<td>Doula, The</td>
<td>1</td>
</tr>
<tr>
<td>r1g6 court B</td>
<td>10:35</td>
<td>World, The</td>
<td>3</td>
<td>Accountability</td>
<td>4</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r2g1 court A</td>
<td>10:50</td>
<td>Shadow, The</td>
<td>1</td>
<td>Ancestors</td>
<td>2</td>
</tr>
<tr>
<td>r2g2 court A</td>
<td>11:05</td>
<td>Whore, The</td>
<td>3</td>
<td>Chrysalis, The</td>
<td>2</td>
</tr>
<tr>
<td>r2g3 court A</td>
<td>11:20</td>
<td>Love</td>
<td>2</td>
<td>Courage</td>
<td>1</td>
</tr>
<tr>
<td>r2g4 court A</td>
<td>11:35</td>
<td>Moon, The</td>
<td>1</td>
<td>Caravan, The</td>
<td>4</td>
</tr>
<tr>
<td>r2g5 court A</td>
<td>11:50</td>
<td>Hermit, The</td>
<td>0</td>
<td>Establishment, The</td>
<td>4</td>
</tr>
<tr>
<td>r2g6 court A</td>
<td>12:20</td>
<td>Fool, The</td>
<td>2</td>
<td>Dream</td>
<td>1</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r2g1 court B</td>
<td>10:50</td>
<td>Uprising</td>
<td>4</td>
<td>Chaos</td>
<td>3</td>
</tr>
<tr>
<td>r2g2 court B</td>
<td>11:05</td>
<td>Portal, The</td>
<td>3</td>
<td>Ace of Vessels</td>
<td>2</td>
</tr>
<tr>
<td>r2g3 court B</td>
<td>11:20</td>
<td>Mutant, The</td>
<td>1</td>
<td>Doula, The</td>
<td>1</td>
</tr>
<tr>
<td>r2g4 court B</td>
<td>11:35</td>
<td>Star, The</td>
<td>0</td>
<td>Death</td>
<td>2</td>
</tr>
<tr>
<td>r2g5 court B</td>
<td>11:50</td>
<td>World, The</td>
<td>2</td>
<td>Artist, The</td>
<td>3</td>
</tr>
<tr>
<td>r2g6 court B</td>
<td>12:20</td>
<td>Sun, The</td>
<td>0</td>
<td>Accountability</td>
<td>5</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r3g1 court A</td>
<td>12:35</td>
<td>Whore, The</td>
<td>2</td>
<td>Portal, The</td>
<td>3</td>
</tr>
<tr>
<td>r3g2 court A</td>
<td>12:50</td>
<td>Doula, The</td>
<td>1</td>
<td>Chrysalis, The</td>
<td>2</td>
</tr>
<tr>
<td>r3g3 court A</td>
<td>13:05</td>
<td>Shadow, The</td>
<td>2</td>
<td>Death</td>
<td>2</td>
</tr>
<tr>
<td>r3g4 court A</td>
<td>13:20</td>
<td>Uprising</td>
<td>1</td>
<td>Establishment, The</td>
<td>0</td>
</tr>
<tr>
<td>r3g5 court A</td>
<td>13:35</td>
<td>Sun, The</td>
<td>2</td>
<td>Courage</td>
<td>1</td>
</tr>
<tr>
<td>r3g6 court A</td>
<td>14:20</td>
<td>Artist, The</td>
<td>1</td>
<td>Accountability</td>
<td>1</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r3g1 court B</td>
<td>12:35</td>
<td>Mutant, The</td>
<td>3</td>
<td>Ace of Vessels</td>
<td>0</td>
</tr>
<tr>
<td>r3g2 court B</td>
<td>12:50</td>
<td>Love</td>
<td>2</td>
<td>Caravan, The</td>
<td>4</td>
</tr>
<tr>
<td>r3g3 court B</td>
<td>13:05</td>
<td>Star, The</td>
<td>2</td>
<td>Hermit, The</td>
<td>1</td>
</tr>
<tr>
<td>r3g4 court B</td>
<td>13:20</td>
<td>World, The</td>
<td>2</td>
<td>Chaos</td>
<td>5</td>
</tr>
<tr>
<td>r3g5 court B</td>
<td>13:35</td>
<td>Fool, The</td>
<td>2</td>
<td>Ancestors</td>
<td>4</td>
</tr>
<tr>
<td>r3g6 court B</td>
<td>14:20</td>
<td>Moon, The</td>
<td>5</td>
<td>Dream</td>
<td>1</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r4g1 court A</td>
<td>14:35</td>
<td>Doula, The</td>
<td>0</td>
<td>Ace of Vessels</td>
<td>2</td>
</tr>
<tr>
<td>r4g2 court A</td>
<td>14:50</td>
<td>Portal, The</td>
<td>3</td>
<td>Death</td>
<td>4</td>
</tr>
<tr>
<td>r4g3 court A</td>
<td>15:05</td>
<td>Fool, The</td>
<td>0</td>
<td>Chaos</td>
<td>5</td>
</tr>
<tr>
<td>r4g4 court A</td>
<td>15:20</td>
<td>Caravan, The</td>
<td>2</td>
<td>Ancestors</td>
<td>3</td>
</tr>
<tr>
<td>r4g5 court A</td>
<td>15:35</td>
<td>Uprising</td>
<td>4</td>
<td>Moon, The</td>
<td>4</td>
</tr>
<tr>
<td>r4g6 court A</td>
<td>16:15</td>
<td>Star, The</td>
<td>0</td>
<td>Dream</td>
<td>3</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r4g1 court B</td>
<td>14:35</td>
<td>Shadow, The</td>
<td>2</td>
<td>Chrysalis, The</td>
<td>3</td>
</tr>
<tr>
<td>r4g2 court B</td>
<td>14:50</td>
<td>World, The</td>
<td>4</td>
<td>Hermit, The</td>
<td>0</td>
</tr>
<tr>
<td>r4g3 court B</td>
<td>15:05</td>
<td>Sun, The</td>
<td>4</td>
<td>Love</td>
<td>0</td>
</tr>
<tr>
<td>r4g4 court B</td>
<td>15:20</td>
<td>Establishment, The</td>
<td>2</td>
<td>Courage</td>
<td>2</td>
</tr>
<tr>
<td>r4g5 court B</td>
<td>15:35</td>
<td>Mutant, The</td>
<td>3</td>
<td>Artist, The</td>
<td>2</td>
</tr>
<tr>
<td>r4g6 court B</td>
<td>16:15</td>
<td>Whore, The</td>
<td>0</td>
<td>Accountability</td>
<td>3</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r5g1 court A</td>
<td>16:30</td>
<td>Shadow, The</td>
<td>3</td>
<td>Ace of Vessels</td>
<td>2</td>
</tr>
<tr>
<td>r5g2 court A</td>
<td>16:45</td>
<td>Love</td>
<td>4</td>
<td>Fool, The</td>
<td>2</td>
</tr>
<tr>
<td>r5g3 court A</td>
<td>17:00</td>
<td>Portal, The</td>
<td>1</td>
<td>Courage</td>
<td>0</td>
</tr>
<tr>
<td>r5g4 court A</td>
<td>17:15</td>
<td>Uprising</td>
<td>3</td>
<td>Chrysalis, The</td>
<td>2</td>
</tr>
<tr>
<td>r5g5 court A</td>
<td>17:30</td>
<td>World, The</td>
<td>3</td>
<td>Star, The</td>
<td>1</td>
</tr>
<tr>
<td>r5g6 court A</td>
<td>17:45</td>
<td>Whore, The</td>
<td>4</td>
<td>Death</td>
<td>6</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r5g1 court B</td>
<td>16:30</td>
<td>Hermit, The</td>
<td>1</td>
<td>Doula, The</td>
<td>1</td>
</tr>
<tr>
<td>r5g2 court B</td>
<td>16:45</td>
<td>Sun, The</td>
<td>1</td>
<td>Caravan, The</td>
<td>0</td>
</tr>
<tr>
<td>r5g3 court B</td>
<td>17:00</td>
<td>Mutant, The</td>
<td>0</td>
<td>Moon, The</td>
<td>1</td>
</tr>
<tr>
<td>r5g4 court B</td>
<td>17:15</td>
<td>Establishment, The</td>
<td>3</td>
<td>Artist, The</td>
<td>1</td>
</tr>
<tr>
<td>r5g5 court B</td>
<td>17:30</td>
<td>Dream</td>
<td>1</td>
<td>Chaos</td>
<td>5</td>
</tr>
<tr>
<td>r5g6 court B</td>
<td>17:45</td>
<td>Ancestors</td>
<td>3</td>
<td>Accountability</td>
<td>1</td>
</tr>
</tbody></table>
