<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r1g1 court A</td>
<td>09:20</td>
<td>Zach F</td>
<td>4</td>
<td>Adam</td>
<td>5</td>
</tr>
<tr>
<td>r1g2 court A</td>
<td>10:00</td>
<td>Stu</td>
<td>3</td>
<td>Dylan</td>
<td>3</td>
</tr>
<tr>
<td>r1g3 court A</td>
<td>10:50</td>
<td>Salem</td>
<td>5</td>
<td>Josh G</td>
<td>2</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r1g1 court B</td>
<td>09:20</td>
<td>Tucker</td>
<td>6</td>
<td>Andreas</td>
<td>5</td>
</tr>
<tr>
<td>r1g2 court B</td>
<td>10:00</td>
<td>Sam</td>
<td>3</td>
<td>Jason</td>
<td>2</td>
</tr>
<tr>
<td>r1g3 court B</td>
<td>10:50</td>
<td>Quinn</td>
<td>3</td>
<td>Mike</td>
<td>2</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r2g1 court A</td>
<td>11:25</td>
<td>Stu</td>
<td>5</td>
<td>Adam</td>
<td>2</td>
</tr>
<tr>
<td>r2g2 court A</td>
<td>12:00</td>
<td>Mike</td>
<td>2</td>
<td>Jason</td>
<td>2</td>
</tr>
<tr>
<td>r2g3 court A</td>
<td>12:55</td>
<td>Sam</td>
<td>6</td>
<td>Quinn</td>
<td>3</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r2g1 court B</td>
<td>11:25</td>
<td>Dylan</td>
<td>5</td>
<td>Andreas</td>
<td>2</td>
</tr>
<tr>
<td>r2g2 court B</td>
<td>12:00</td>
<td>Zach F</td>
<td>2</td>
<td>Josh G</td>
<td>7</td>
</tr>
<tr>
<td>r2g3 court B</td>
<td>12:55</td>
<td>Tucker</td>
<td>5</td>
<td>Salem</td>
<td>7</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r3g1 court A</td>
<td>13:30</td>
<td>Zach F</td>
<td>8</td>
<td>Andreas</td>
<td>3</td>
</tr>
<tr>
<td>r3g2 court A</td>
<td>14:05</td>
<td>Stu</td>
<td>5</td>
<td>Mike</td>
<td>4</td>
</tr>
<tr>
<td>r3g3 court A</td>
<td>15:00</td>
<td>Quinn</td>
<td>3</td>
<td>Josh G</td>
<td>5</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r3g1 court B</td>
<td>13:30</td>
<td>Jason</td>
<td>3</td>
<td>Dylan</td>
<td>1</td>
</tr>
<tr>
<td>r3g2 court B</td>
<td>14:05</td>
<td>Tucker</td>
<td>7</td>
<td>Adam</td>
<td>7</td>
</tr>
<tr>
<td>r3g3 court B</td>
<td>15:00</td>
<td>Sam</td>
<td>1</td>
<td>Salem</td>
<td>7</td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r4g1 court A</td>
<td>15:35</td>
<td>Jason</td>
<td></td>
<td>Adam</td>
<td></td>
</tr>
<tr>
<td>r4g2 court A</td>
<td>16:10</td>
<td>Tucker</td>
<td></td>
<td>Dylan</td>
<td></td>
</tr>
<tr>
<td>r4g3 court A</td>
<td>16:45</td>
<td>Zach F</td>
<td></td>
<td>Quinn</td>
<td></td>
</tr>
</tbody></table>

<table><thead>
<tr>
<th>game</th>
<th>time</th>
<th>team 1</th>
<th>score 1</th>
<th>team 2</th>
<th>score 2</th>
</tr>
</thead><tbody>
<tr>
<td>r4g1 court B</td>
<td>15:35</td>
<td>Mike</td>
<td></td>
<td>Andreas</td>
<td></td>
</tr>
<tr>
<td>r4g2 court B</td>
<td>16:10</td>
<td>Sam</td>
<td></td>
<td>Josh G</td>
<td></td>
</tr>
<tr>
<td>r4g3 court B</td>
<td>16:45</td>
<td>Stu</td>
<td></td>
<td>Salem</td>
<td></td>
</tr>
</tbody></table>
