<link rel="stylesheet" type="text/css" href="/style.css" media="screen">
<table><thead>
<tr>
<th>Team</th>
<th>Name</th>
<th>Ranking</th>
</tr>
</thead><tbody>
<tr>
<td>Accountability</td>
<td>Ben Quigley Richmond</td>
<td>A</td>
</tr>
<tr>
<td>Accountability</td>
<td>Bruce legend</td>
<td>B</td>
</tr>
<tr>
<td>Accountability</td>
<td>Ani Dobbins Boston</td>
<td>C</td>
</tr>
<tr>
<td>Ace of Vessels</td>
<td>Stephen D Norfolk</td>
<td>A</td>
</tr>
<tr>
<td>Ace of Vessels</td>
<td>Jeremy Danz</td>
<td>B</td>
</tr>
<tr>
<td>Ace of Vessels</td>
<td>Steve Kintzley Philly</td>
<td>C</td>
</tr>
<tr>
<td>Ancestors</td>
<td>Salem Coogler NYC Bike Polo</td>
<td>A</td>
</tr>
<tr>
<td>Ancestors</td>
<td>Michael Keller Nola Polo</td>
<td>B</td>
</tr>
<tr>
<td>Ancestors</td>
<td>Jamie Straight Pittsburgh</td>
<td>C</td>
</tr>
<tr>
<td>Artist, The</td>
<td>Jackie Mautner Philly</td>
<td>A</td>
</tr>
<tr>
<td>Artist, The</td>
<td>Adrian</td>
<td>B</td>
</tr>
<tr>
<td>Artist, The</td>
<td>Non Wor None</td>
<td>C</td>
</tr>
<tr>
<td>Caravan, The</td>
<td>Quinn Horton Norfolk Bike Polo</td>
<td>A</td>
</tr>
<tr>
<td>Caravan, The</td>
<td>Vladimir (Vlad) San juan Bici Polo Club + Philly Bike Polo Club</td>
<td>B</td>
</tr>
<tr>
<td>Caravan, The</td>
<td>Anne Welch</td>
<td>C</td>
</tr>
<tr>
<td>Chaos</td>
<td>Andreas Archuleta Albuquerque</td>
<td>A</td>
</tr>
<tr>
<td>Chaos</td>
<td>Em Jay NYC</td>
<td>B</td>
</tr>
<tr>
<td>Chaos</td>
<td>Kenzo Richmond</td>
<td>C</td>
</tr>
<tr>
<td>Chrysalis, The</td>
<td>James Frick-Tordella</td>
<td>A</td>
</tr>
<tr>
<td>Chrysalis, The</td>
<td>Tyler Kelly Asheville</td>
<td>B</td>
</tr>
<tr>
<td>Chrysalis, The</td>
<td>Connor Martin Pittsburgh</td>
<td>C</td>
</tr>
<tr>
<td>Courage</td>
<td>Kevin Bueschen Boston</td>
<td>A</td>
</tr>
<tr>
<td>Courage</td>
<td>Quentin Little Philly</td>
<td>B</td>
</tr>
<tr>
<td>Courage</td>
<td>Sabrina Zhou Beehive (SLC)</td>
<td>C</td>
</tr>
<tr>
<td>Death</td>
<td>Josh Greenfield NYC</td>
<td>A</td>
</tr>
<tr>
<td>Death</td>
<td>PGHRON Pittsburgh Bike Polo</td>
<td>B</td>
</tr>
<tr>
<td>Death</td>
<td>Eric Wuestewald</td>
<td>C</td>
</tr>
<tr>
<td>Doula, The</td>
<td>Brett Lott Bellingham Bike Polo</td>
<td>A</td>
</tr>
<tr>
<td>Doula, The</td>
<td>Sinjon Bartel Pittsburgh</td>
<td>B</td>
</tr>
<tr>
<td>Doula, The</td>
<td>Nigel</td>
<td>C</td>
</tr>
<tr>
<td>Dream</td>
<td>Nico PGH</td>
<td>A</td>
</tr>
<tr>
<td>Dream</td>
<td>Chris Yesmant RVA</td>
<td>B</td>
</tr>
<tr>
<td>Dream</td>
<td>Nicholas Fidoe NYC</td>
<td>C</td>
</tr>
<tr>
<td>Establishment, The</td>
<td>Zach Blackburn NYC</td>
<td>A</td>
</tr>
<tr>
<td>Establishment, The</td>
<td>Chris K</td>
<td>B</td>
</tr>
<tr>
<td>Establishment, The</td>
<td>Chris Pollock</td>
<td>C</td>
</tr>
<tr>
<td>Fool, The</td>
<td>Tucker Waugh Buffalo</td>
<td>A</td>
</tr>
<tr>
<td>Fool, The</td>
<td>Jordan Bowden Forest city bike polo</td>
<td>B</td>
</tr>
<tr>
<td>Fool, The</td>
<td>Coriander</td>
<td>C</td>
</tr>
<tr>
<td>Hermit, The</td>
<td>Francisco Gonzalez RVA</td>
<td>A</td>
</tr>
<tr>
<td>Hermit, The</td>
<td>Hot Tommy</td>
<td>B</td>
</tr>
<tr>
<td>Hermit, The</td>
<td>bella steele boston</td>
<td>C</td>
</tr>
<tr>
<td>Love</td>
<td>Joshua Klarmann Kansas</td>
<td>A</td>
</tr>
<tr>
<td>Love</td>
<td>Matt mcentee</td>
<td>B</td>
</tr>
<tr>
<td>Love</td>
<td>Clark NYC</td>
<td>C</td>
</tr>
<tr>
<td>Moon, The</td>
<td>Adam Neese NYC</td>
<td>A</td>
</tr>
<tr>
<td>Moon, The</td>
<td>Ari Brown</td>
<td>B</td>
</tr>
<tr>
<td>Moon, The</td>
<td>Mauricio Borgen Raleigh</td>
<td>C</td>
</tr>
<tr>
<td>Mutant, The</td>
<td>Zach Fahy</td>
<td>A</td>
</tr>
<tr>
<td>Mutant, The</td>
<td>Kevin Raley Charlotte</td>
<td>B</td>
</tr>
<tr>
<td>Mutant, The</td>
<td>Eric Christopher Charlotte</td>
<td>C</td>
</tr>
<tr>
<td>Portal, The</td>
<td>Dylan Hiester NEW FUCKING YORK</td>
<td>A</td>
</tr>
<tr>
<td>Portal, The</td>
<td>Ben Cliff Buffalo</td>
<td>B</td>
</tr>
<tr>
<td>Portal, The</td>
<td>Trey Reffett</td>
<td>C</td>
</tr>
<tr>
<td>Shadow, The</td>
<td>Bobby Sherwood </td>
<td>A</td>
</tr>
<tr>
<td>Shadow, The</td>
<td>Jason Graham PGH</td>
<td>B</td>
</tr>
<tr>
<td>Shadow, The</td>
<td>Sam Lewando RVA</td>
<td>C</td>
</tr>
<tr>
<td>Star, The</td>
<td>Chad Sedlak Pittsburgh</td>
<td>A</td>
</tr>
<tr>
<td>Star, The</td>
<td>Benjamin Heo Boston Bike Polo (Rules)</td>
<td>B</td>
</tr>
<tr>
<td>Star, The</td>
<td>Alex Tea</td>
<td>C</td>
</tr>
<tr>
<td>Sun, The</td>
<td>Stu Asheville</td>
<td>A</td>
</tr>
<tr>
<td>Sun, The</td>
<td>Annie Linders Boston</td>
<td>B</td>
</tr>
<tr>
<td>Sun, The</td>
<td>Champagne Birmingham HardCourt Polo</td>
<td>C</td>
</tr>
<tr>
<td>Uprising</td>
<td>Brian Bolles Philadelphia</td>
<td>A</td>
</tr>
<tr>
<td>Uprising</td>
<td>Barry Matthews NOMAD</td>
<td>B</td>
</tr>
<tr>
<td>Uprising</td>
<td>Karen O Boston</td>
<td>C</td>
</tr>
<tr>
<td>Whore, The</td>
<td>Sam Pitcavage</td>
<td>A</td>
</tr>
<tr>
<td>Whore, The</td>
<td>Chris Bobbitt Trenton</td>
<td>B</td>
</tr>
<tr>
<td>Whore, The</td>
<td>Charlie Sauter Pittsburgh</td>
<td>C</td>
</tr>
<tr>
<td>World, The</td>
<td>mike buffalo ny</td>
<td>A</td>
</tr>
<tr>
<td>World, The</td>
<td>Miguel Toledo PR / NYC</td>
<td>B</td>
</tr>
<tr>
<td>World, The</td>
<td>Rhys Young</td>
<td>C</td>
</tr>
</tbody></table>
